@using Resources;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Strings.HomeHeading</h1>
    <p class="lead">@Strings.HomeSubtitle</p>
    <p><a href="~/Home/Contact" class="btn btn-primary">@Strings.HomeBook &raquo;</a></p>
</div>
